<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <!-- 引入配置文件 -->
    <!--<properties resource="mybatis-generator.properties" />-->
    <!-- 指定数据连接驱动jar地址 -->
    <!--<classPathEntry location="/Users/ZhangGR/.m2/repository/mysql/mysql-connector-java/5.1.37/mysql-connector-java-5.1.37.jar" />-->
    <!-- 一个数据库一个context -->
    <context id="BuildingTables" targetRuntime="Mybatis3" defaultModelType="conditional">
        <!-- defaultModelType="hierarchical" -->
        <property name="javaFileEncoding" value="UTF-8" />
        <property name="suppressTypeWarnings" value="true" />
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
        <plugin type="org.mybatis.generator.plugins.CaseInsensitiveLikePlugin" />
        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin" />
        <plugin type="org.mybatis.generator.plugins.ToStringPlugin" />
        <!--<plugin type="org.mybatis.generator.plugins.CachePlugin" />-->

        <!--<plugin type="org.mybatis.generator.plugins.MapperConfigPlugin">
            <property name="fileName" value="mybatis-config.xml" />
            <property name="targetProject" value="src/main/resources" />
        </plugin>
        <plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
            <property name="searchString" value="Example$" />
            <property name="replaceString" value="Criteria" />
        </plugin>-->

        <!-- 注释 -->
        <commentGenerator>
            <property name="suppressAllComments" value="true" /><!-- 是否取消注释 -->
            <property name="suppressDate" value="false" /> <!-- 是否生成注释代时间戳 -->
        </commentGenerator>

         <!--jdbc连接-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
        connectionURL="jdbc:mysql://mariadb.testing.pipacoding.com:3306/crm?characterEncoding=utf8"
        userId="root" password="yunwei@998"/>

        <!--<jdbcConnection driverClass="com.mysql.jdbc.Driver"-->
        <!--connectionURL="jdbc:mysql://dev2.bjo.hetao101.com:3306/crm?characterEncoding=utf8"-->
        <!--userId="root" password="pHzpnR3hVXP55D6q"/>-->

        <!-- 类型转换 -->
        <javaTypeResolver>
            <!-- 是否使用bigDecimal， false可自动转化以下类型（Long, Integer, Short, etc.） -->
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <!-- 生成实体类地址 -->
        <javaModelGenerator targetPackage="com.hetao101.crm.transfer.model"
                            targetProject="src/main/java">
            <!-- 是否在当前路径下新加一层schema,eg：fase路径com.oop.eksp.user.model， true:com.oop.eksp.user.model.[schemaName] -->
            <property name="enableSubPackages" value="true" />
            <!-- 是否针对string类型的字段在set的时候进行trim调用 -->
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!-- 生成mapxml文件 -->
        <sqlMapGenerator targetPackage="com.hetao101.crm.transfer.mapper"
                         targetProject="src/main/resources">
            <!-- 是否在当前路径下新加一层schema,eg：fase路径com.oop.eksp.user.model， true:com.oop.eksp.user.model.[schemaName] -->
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!--生成mapxml对应client，也就是接口dao-->
        <javaClientGenerator targetPackage="com.hetao101.crm.transfer.mapper"
                             targetProject="src/main/java" type="XMLMAPPER">
            <!-- 是否在当前路径下新加一层schema,eg：fase路径com.oop.eksp.user.model， true:com.oop.eksp.user.model.[schemaName] -->
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <table tableName="transfer_application" domainObjectName="TransferApplication" enableSelectByExample="true" selectByExampleQueryId="true">
            <property name="useActualColumnNames" value="false"/>
            <columnOverride column="status" javaType="Integer" jdbcType="TINYINT"/>
            <columnOverride column="financial_status" javaType="Integer" jdbcType="TINYINT"/>
            <columnOverride column="transfer_course_status" javaType="Integer" jdbcType="TINYINT"/>
            <columnOverride column="type" javaType="Integer" jdbcType="TINYINT"/>
            <columnOverride column="source" javaType="Integer" jdbcType="TINYINT"/>
            <columnOverride column="ctime" javaType="java.sql.Timestamp"/>
            <columnOverride column="utime" javaType="java.sql.Timestamp"/>
        </table>

        <!--<table tableName="suspend_application" domainObjectName="SuspendApplication" enableSelectByExample="true" selectByExampleQueryId="true">-->
            <!--<property name="useActualColumnNames" value="false"/>-->
            <!--<columnOverride column="status" javaType="Integer" jdbcType="TINYINT"/>-->
            <!--<columnOverride column="revive_way" javaType="Integer" jdbcType="TINYINT"/>-->
            <!--<columnOverride column="estimate_revive_time" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>-->
            <!--<columnOverride column="ctime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>-->
            <!--<columnOverride column="utime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>-->
        <!--</table>-->

        <!--<table tableName="transfer_balance" domainObjectName="TransferBalance" enableSelectByExample="true" selectByExampleQueryId="true">-->
            <!--<columnOverride column="ctime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>-->
            <!--<columnOverride column="utime" javaType="java.sql.Timestamp" jdbcType="TIMESTAMP"/>-->
            <!--<columnOverride column="url_status" javaType="Integer" jdbcType="TINYINT"/>-->
        <!--</table>-->

    </context>
</generatorConfiguration>
